<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Koloda-ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Xamarin.Koloda.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XamarinKoloda.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3BBBFD01B84B78B00E4AB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3BBBFE91B84B78B00E4AB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF799C71D7F8115002D7A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFE7E441D7F716F004B66EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
